In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./Data/odi-batting.csv')

In [3]:
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57

In [4]:
df.describe()

               Runs         Balls
count  50284.000000  50284.000000
mean      24.725141     34.019052
std       25.783347     30.773306
min        1.000000      1.000000
25%        6.000000     11.000000
50%       16.000000     24.000000
75%       35.000000     48.000000
max      200.000000    210.000000

In [5]:
df.isna().sum()

Country      0
Player       0
Runs         0
MatchDate    0
Weekday      0
Ground       0
Versus       0
Balls        0
dtype: int64

In [6]:
df['Centuries'] = df.Runs.apply(lambda x : x //100 )

In [7]:
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,Centuries
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,1
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,1
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,1
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108,0
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57,0

In [11]:
df[df.Runs==200]

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,Centuries
13601,India,Sachin R Tendulkar,200,24-02-2010,Wed,Captain Roop Singh Stadium,South Africa,147,2

In [14]:
centuries_df = pd.DataFrame(df.groupby('Player').agg({'Centuries':'sum'}))

In [18]:
centuries_df.sort_values(by='Centuries',ascending=False)

                     Centuries
Player
Sachin R Tendulkar          49
Ricky T Ponting             30
Sanath T Jayasuriya         28
Sourav C Ganguly            22
Herschelle H Gibbs          21
...                        ...
Hasan Raza                   0
Hasan Jamil                  0
Hasan Durham                 0
Harvir S Baidwan             0
Zulquarnain                  0

[1883 rows x 1 columns]

In [ ]:
df['']

In [19]:
df['sr'] = df.Runs / (df.Balls / 100)

In [20]:
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,Centuries,sr
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,1,97.520661
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,1,99.099099
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,1,138.888889
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108,0,75.925926
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57,0,100.000000

In [24]:
df[df.Centuries >= 1].groupby('Player').agg({'sr':'max'}).sort_values(by='sr',ascending=False)

                             sr
Player
Shahid Afridi        255.000000
Mark V Boucher       216.176471
Sanath T Jayasuriya  206.153846
Shane R Watson       192.708333
Brian C Lara         188.709677
...                         ...
Bruce A Edgar         72.340426
Stuart C Williams     70.469799
Douglas A Marillier   68.027211
David L Hemp          67.105263
Tom L W Cooper        65.161290

[280 rows x 1 columns]

In [28]:
df['year'] = pd.to_datetime(df.MatchDate).dt.year

In [30]:
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,Centuries,sr,year
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,1,97.520661,2010
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,1,99.099099,2009
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,1,138.888889,2010
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108,0,75.925926,2010
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57,0,100.000000,2010

In [34]:
df[df.Country == 'India'].groupby('year').agg({'Centuries':'sum'}).sort_values(by ='Centuries',ascending=False)

      Centuries
year
1998         18
1999         15
2010         13
2009         13
2005         11
2003         10
2008         10
2000         10
2002          9
2001          9
2011          8
1996          8
2004          7
1994          7
1997          7
1988          5
2006          5
2007          5
1987          4
1984          3
1990          3
1993          2
1991          2
1989          2
1986          2
1995          1
1992          1
1983          1
1975          0
1985          0
1982          0
1981          0
1980          0
1979          0
1978          0
1976          0
1974          0