In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./Data/EDA_Gold_Silver_prices.csv')
df.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [4]:
df.SilverPrice.corr(df.GoldPrice)

0.9542559570539783

In [6]:
df['only_month'] = df.Month.apply(lambda x: x.split('-')[0])

In [8]:
df['only_year'] = df.Month.apply(lambda x: x.split('-')[1])

In [10]:
df.tail()

      Month  SilverPrice  GoldPrice only_month only_year
236  Nov-16      1175.45   83622.54        Nov        16
237  Dec-16      1115.72   78583.48        Dec        16
238  Jan-17      1151.15   81191.05        Jan        17
239  Feb-17      1203.35   82818.17        Feb        17
240  Mar-17      1162.15   81169.45        Mar        17

In [13]:
df_2008 = df[df['only_year']=='08']

In [15]:
df_2008.SilverPrice.corr(df.GoldPrice)

0.009583757463369393