In [24]:
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
df = pd.read_csv('./Data/popularity.csv')

In [44]:
df.head()

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505

In [45]:
df.columns

Index(['url', ' timedelta', ' n_tokens_title', ' n_tokens_content',
       ' n_unique_tokens', ' n_non_stop_words', ' n_non_stop_unique_tokens',
       ' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords', ' data_channel_is_lifestyle',
       ' data_channel_is_entertainment', ' data_channel_is_bus',
       ' data_channel_is_socmed', ' data_channel_is_tech',
       ' data_channel_is_world', ' kw_min_min', ' kw_max_min', ' kw_avg_min',
       ' kw_min_max', ' kw_max_max', ' kw_avg_max', ' kw_min_avg',
       ' kw_max_avg', ' kw_avg_avg', ' self_reference_min_shares',
       ' self_reference_max_shares', ' self_reference_avg_sharess',
       ' weekday_is_monday', ' weekday_is_tuesday', ' weekday_is_wednesday',
       ' weekday_is_thursday', ' weekday_is_friday', ' weekday_is_saturday',
       ' weekday_is_sunday', ' is_weekend', ' LDA_00', ' LDA_01', ' LDA_02',
       ' LDA_03', ' LDA_04', ' global_subjectivity',
       ' global_sentiment_polarity', ' global_rate_positive_words',
       ' global_rate_negative_words', ' rate_positive_words',
       ' rate_negative_words', ' avg_positive_polarity',
       ' min_positive_polarity', ' max_positive_polarity',
       ' avg_negative_polarity', ' min_negative_polarity',
       ' max_negative_polarity', ' title_subjectivity',
       ' title_sentiment_polarity', ' abs_title_subjectivity',
       ' abs_title_sentiment_polarity', ' shares'],
      dtype='object')

In [46]:
df[' num_keywords'].mode()

0    7.0
dtype: float64

In [47]:
df[' shares'].mean()

3395.3801836343455

In [48]:
df[' shares'].median()

1400.0

In [49]:
df[' shares'].describe()

count     39644.000000
mean       3395.380184
std       11626.950749
min           1.000000
25%         946.000000
50%        1400.000000
75%        2800.000000
max      843300.000000
Name:  shares, dtype: float64

In [50]:
df[' shares'].quantile(.80)

3400.0

In [51]:
df[' shares'].quantile([0.10,.25,.5,.75,.95,1]).pct_change()

0.10          NaN
0.25     0.336158
0.50     0.479915
0.75     1.000000
0.95     2.857143
1.00    77.083333
Name:  shares, dtype: float64

In [52]:
# Remove Outliers

In [53]:
import numpy as np
P = np.percentile(df[' shares'], [5, 95])

In [54]:
P

array([  584., 10800.])

In [55]:
new_df = df[(df[' shares'] > P[0]) & (df[' shares'] < P[1])]

In [56]:
new_df[' shares'].mean()

2160.171031968592

In [57]:
#Using Quantiles

In [58]:
low = .05
high = .95
quant_df = df.quantile([low, high])
quant_df.head()

,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0.05,43.0,7.0,105.0,0.349070,1.0,0.477273,1.0,0.0,0.0,0.0,...,0.033333,0.375,-0.466717,-1.0,-0.25,0.0,-0.333333,0.0,0.0,584.0
0.95,697.0,14.0,1407.0,0.720908,1.0,0.857143,30.0,9.0,20.0,6.0,...,0.200000,1.000,0.000000,0.0,0.00,1.0,0.500000,0.5,0.6,10800.0

In [63]:
Q1 = df[' shares'].quantile(0.25)
Q3 = df[' shares'].quantile(0.75)
IQR = Q3 - Q1

In [64]:
IQR

1854.0

In [69]:
new_df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR)))]

TypeError: '>' not supported between instances of 'numpy.ndarray' and 'str'

In [71]:
new_df = df[~((df[' shares'] < (Q1 - 1.5 * IQR)) |(df[' shares'] > (Q3 + 1.5 * IQR)))]

In [72]:
new_df[' shares'].mean()

1671.9726519100932

In [73]:
new_df = df[~(df[' shares'] > 10800)]

In [74]:
new_df[' shares'].mean()

2074.334386533202

In [75]:
new_df[' shares'].std()

1871.8141388441672

In [76]:
(len(df) - len(new_df))/ len(df)

0.04996973060236101