In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('./Delhi+Delights+Data.csv')

In [18]:
df[df['Average Delivery Rating (a1)'] >3 ]

,Average Delivery Rating (a1),Average Orders per month (a2),"""Delighted Members"" Purchase"
3,3.5,11,No
4,3.5,11,No
5,4.5,11,Yes
9,3.5,13,No
10,3.5,13,No
11,4.5,13,No
15,3.5,15,No
16,3.5,15,No
17,4.5,15,Yes
21,3.5,27,Yes
22,4.5,27,Yes
23,4.5,27,Yes
27,3.5,39,Yes
28,4.5,39,Yes
29,4.5,39,Yes

In [4]:
df['"Delighted Members" Purchase'].value_counts()

No     15
Yes    15
Name: "Delighted Members" Purchase, dtype: int64

In [23]:
df[df['Average Orders per month (a2)']< 20 ]

,Average Delivery Rating (a1),Average Orders per month (a2),"""Delighted Members"" Purchase"
0,1.5,11,Yes
1,2.5,11,No
2,2.5,11,No
3,3.5,11,No
4,3.5,11,No
5,4.5,11,Yes
6,1.5,13,Yes
7,2.5,13,No
8,2.5,13,No
9,3.5,13,No
10,3.5,13,No
11,4.5,13,No
12,1.5,15,Yes
13,2.5,15,No
14,2.5,15,No
15,3.5,15,No
16,3.5,15,No
17,4.5,15,Yes